black
ruff
mypy
tox
pytest
pytest-snapshot
structlog
pytest-structlog
line_profiler
memory_profiler
numpy
scipy
statsmodels
openpyxl
pandas[performance]
polars
matplotlib
seaborn
fastcluster
requests
scikit-learn
pycaret[full]
torch
torchvision
torchaudio
autoPyTorch[forecasting]
rdkit
deepchem
biopython
bioinfokit
anndata
scanpy
pymc
arviz
jupyterlab
kaggle
